/* Header/Logo Title */
.header {
    background: url('../pictures/delicioso2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 600px;
  }@media screen and (max-width: 670px){
    header{
      min-height: 500px;
    }
  }
  .buly {
    background: url('../pictures/bar.jpg');
    background-size: cover;
    background-position: center;
    min-height: 400px;
  }@media screen and (max-width: 570px){
    header{
      min-height: 400px;
    }
  }
.about-letter{
  font-family: cursive;
}
.bulypic {
  background: url('../pictures/buly.jpg');
  background-size: cover;
  background-position: center;
  min-height: 400px;
}@media screen and (max-width: 570px){
  header{
    min-height: 400px;
  }
}
